### Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Target necessary data

#### Data Cleaning

### Output in Excel

In [38]:
car_dealer.to_excel('car_dealer_single_page.xlsx', index=False)

In [84]:
name = []
price = []

In [85]:
for i in range (1,29):
    
    # website in variable
    website = 'https://crmotos.com/usados2/motos/search-results/index'+ str(i) +'.html' 
    
    # request to website
    response = requests.get(website)

    # soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # results
    results = soup.find_all('div', {'class' : 'main-column'})
    
    # loop through results
    for result in results:
    
        # name
        try:
            name.append(result.find('li', {'class':'title'}).get_text().strip()) 
        except:
            name.append('n/a')

        #price 
        try:
            price.append(result.find('li', {'class':'system'}).get_text().strip())
        except:
            price.append('n/a')

In [86]:
# dictionary
car_dealer = pd.DataFrame({'Name': name,'Price': price})

In [88]:
def find_outliers(data):
    lista = car_dealer['Name'].str.split(', ')
    for i in lista:
        if len(i) != 3:
            print("found outlier")
            string = ', '.join(i)
            print(string)
            idx = data[data['Name']== string].index
            print(idx)
            data.drop(idx, inplace=True)

In [89]:
find_outliers(car_dealer)

found outlier
Polaris, 2008
Int64Index([166], dtype='int64')
found outlier
Husqvarna, 300 TPi, 2 Tiempos, 2019
Int64Index([168], dtype='int64')
found outlier
Katana, 2021
Int64Index([181], dtype='int64')

In [90]:
car_dealer[['marca', 'modelo', 'año']] = car_dealer['Name'].str.split(', ', expand=True)

In [92]:
car_dealer.drop('Name', axis=1, inplace=True)
car_dealer

            Price            marca              modelo   año
0       ₡ 850,000           Suzuki              Gixxer  2016
1        $ 10,950              BMW             F 750GS  2020
2    ₡ 16,500,000            Honda               Talon  2021
3         $ 7,500              KTM       390 Adventure  2022
4     ₡ 3,000,000           Suzuki         Vstrom 1000  2005
..            ...              ...                 ...   ...
443   ₡ 4,000,000            Honda           VTX1300s   2003
444   ₡ 5,500,000  Harley-Davidson     Dyna Low Rider   2004
445   ₡ 5,800,000  Harley-Davidson   Dyna Super Glide   2006
446   ₡ 4,000,000  Harley-Davidson     Dyna Low Rider   2001
447   ₡ 5,500,000  Harley-Davidson       Softail Deuce  2003

[445 rows x 4 columns]

In [96]:
car_dealer['modelo'].value_counts()

Hornet                             4
Adventure                          3
Maverick XRS                       3
Vstrom                             3
Monster 821                        2
                                  ..
DUKE                               1
Wr                                 1
Heritage Softail 1450 Inyección    1
XRE                                1
Softail Deuce                      1
Name: modelo, Length: 402, dtype: int64

In [102]:
car_dealer.modelo = car_dealer.modelo.apply(lambda mod: mod.replace(" ", ""))

In [ ]:
car_dealer.modelo = car_dealer.modelo.str.upper()

In [103]:
bmw = car_dealer[car_dealer['marca']=='BMW']

In [104]:
bmw.modelo.value_counts()

r1250gsadventure         4
f700gs                   4
g310r                    3
f750gs                   2
g310gs                   2
r1200gs                  2
310gs                    2
gs                       2
s1000r                   2
f800gsadventure          1
gs1200rallye             1
rninet                   1
310r                     1
c400gt                   1
r1250gsa                 1
bmw1000boxerrepuestos    1
hpngxr                   1
gs650                    1
f850gs                   1
gsf700                   1
bmwr1250gsa              1
r1200gstripleblak        1
f850gsfull               1
gs1100                   1
r1200gsrally             1
r100/7                   1
gs310                    1
r1200gsrallyfull         1
comprademotos            1
Name: modelo, dtype: int64